<% @coin_values.each do |name, dallar_value| %>
    <h2 style="text-align: center;"><%= name %>: <%= dallar_value %> USD.</h2>
<% end %>
<div style="width: 75%; margin: 0 auto;">
    <canvas id="myChart"></canvas>
</div>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= raw @dates %>,
        datasets: [{
            label: "Bitcoin to USD",
            fill: false,
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgb(54, 162, 235)',
            data: <%= @dollar_array %>,
        }]
    },
    options: {}
});
</script>
