<% @coin_values.each do |name, dallar_value| %>
	<p><%= name %>: <%= dallar_value %> USD.</p>
<% end %>

<canvas id="myChart"></canvas>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: <%= raw @dates %>,
        datasets: [{
            label: "Bitcoin to USD",
            fill: false,
            borderColor: 'rgb(255, 99, 132)',
            data: <%= @dollar_array %>,
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
